.root{
    -fx-text-base-color: black;
    -fx-text-fill: -fx-text-base-color;

    /* This is the default Windows-font */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12.5;

    /* For debugging purposes*/
    -fx-background-color: rgb(220,240,240
    );

    -fx-disabled-opacity: 0.6;
}



/********************************************
*                                           *
*       Button & Default-Button             *
*                                           *
*********************************************/
.button-focus-border{
    -fx-stroke: black;
    -fx-stroke-dash-array: 1;
    -fx-stroke-width: 1px;
    -fx-stroke-line-cap: butt;
    -fx-stroke-type: inside;
}


.button, .toggle-button{
    -fx-alignment: center;
    -fx-background-color:
        rgb(112,112,112),
        linear-gradient(rgb(252,252,252), rgb(252,252,252)),
        linear-gradient(rgb(242,242,242) 0%, rgb(235,235,235) 49%, rgb(221,221,221) 50%, rgb(207,207,207) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,1,1;
    -fx-padding: 4 4 3 3;
    -fx-text-fill: -fx-text-base-color;
    -fx-pref-width: 100px;
    -fx-pref-height: 60px;
}

.button:hover{
    -fx-background-color:
        rgb(60,127,177),
        linear-gradient(rgb(250,253,254),rgb(250,253,254)),
        linear-gradient(rgb(234, 246, 253) 0%, rgb(217, 240, 252) 49%, rgb(190, 230, 253) 50%, rgb(167, 217, 245) 100%);
}

.button:default{
    -fx-background-color:
        rgb(60,127,177),
        linear-gradient(rgb(47,212,255), rgb(47,212,255)),
        linear-gradient(rgb(234,246,252) 0%, rgb(228,243,252) 49%, rgb(202,233,250) 50%, rgb(182,222,245) 100%);
}

.button:armed, .toggle-button:armed{
    -fx-background-color:
        rgb(44,98,139),
        linear-gradient(rgb(158,176,186), rgb(158,176,186)),
        linear-gradient(rgb(229,244,252) 0%, rgb(196,229,246) 49%, rgb(152,209,239) 50%, rgb(104,179,219) 100%);
}
